.my-header-container{
    background-image: url(https://codilime.com/static/6bbe3920fd2e53f18ec938e88dd129f5/header-software-development-best-practices.png);
    min-height: 600px;
    background-size: cover;
}

.my-content-container{
    margin-left: 10rem;
    margin-bottom: 12rem;
}
 
.my-content-container button{
    background-color: transparent;
    border: 1px solid white; 
    border-radius: 5px;
    color: white; 
    min-width: 150px; 
    margin-top: 3rem; 
    min-height: 40px;
}
